@import url('../../variables.css');

.pagination{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;

  p{
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 5px;
    cursor: pointer;
    transition: var(--transition);
    &:hover{
      text-shadow: 0 0 2px var(--main), 0 0 5px var(--main);
    }
    &.active{
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-color: var(--secondary);
    }

    svg{
      border: 2px solid transparent;
      border-radius: 10rem;
      transition: var(--transition);
      &:hover{
        filter: drop-shadow(0 0 2px var(--main)) drop-shadow(0 0 5px var(--main));
      }
    }
  }
}
