@import url('../../variables.css');

.layout{
  min-height: 100vh;
  position: relative;
  .content{
    padding: calc(var(--header-height) + 20px) 15px calc(var(--header-height) + 20px) 15px;
    width: 90%;
    margin: 0 auto;
  }
}
