.meal-details{
  display: flex;
  gap:20px;

  .meal-principal{
    min-width: 500px;

    img{
      border: 2px solid var(--secondary);
      box-shadow: 2px 2px 5px var(--main);
    }
  }

  .meal-aside{
    margin-top: 50px;

    .meal-info{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      a{
        background-color: var(--secondary-transparent);
        border-radius: 10px;
        padding: 5px 10px;
        font-weight: bold;

        transition: var(--transition);
        &:hover{
          background-color: var(--secondary);
        }
      }
    }

    .ingredients-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      column-gap: 50px;
      row-gap: 15px;
      width: 100%;
      margin: 20px auto;

      border: 2px solid var(--main);
      padding: 15px 50px;
      border-radius: 10px;

      list-style-type: disc;

      li::marker {
        color: var(--secondary);
      }

      a{
        position: relative;
        &::before{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: var(--secondary);
          transition: all .2s ease;

        }
        &:hover{
          &::before{
            width: 100%;
          }
        }
      }
    }

    .meal-instructions{
      width: 100%;
      margin: 20px auto;
      background-color: var(--secondary-transparent);
      padding: 15px 50px;
      border-radius: 10px;
      /* text-indent: 20px; */
      p{
        margin: 10px 0;
      }
    }

    .meal-source{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      a{
        background-color: var(--secondary-transparent);
        border-radius: 10px;
        padding: 5px 10px;
        font-weight: bold;

        transition: var(--transition);
        &:hover{
          background-color: var(--secondary);
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .meal-details{
    flex-direction: column;

    .meal-principal{
      width: 100%;
      min-width: 0px;

      img{
        margin: 0 auto;
        display: block;
      }
    }

    .meal-aside{
    margin-top: 20px;

      .meal-info
        {
          flex-direction: column;
        }

      .ingredients-list{
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
        width: 90%;
        margin: 20px auto;
      }

      .ingredients-list{
        width: 100%;
        padding: 15px 35px;
      }

      .meal-instructions{
        width: 100%;
        padding: 15px 20px;
      }

      .meal-source{
        flex-direction: column;
      }
    }

  }
}
