@import url('../../variables.css');

.description{
  margin: 15px 0;
  width: 70%;
  max-width: 1000px;
  a{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--secondary);
  }
}

@media screen and (max-width: 768px) {
  .description{
    width: 100%;
  }
}
