@import url('../../variables.css');

.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--main);
  height: var(--header-height);
  padding: 5px 20px;

  font-weight: bold;
  color: var(--light);

  .logo{
    height: 100%;
    .logo{
      height: 100%;
      width: auto;
      border-radius: 0px;
    }
  }

  nav{
    ul{
      display: flex;
      gap:20px;

      li{
        position: relative;
        &::before{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: var(--secondary);
          transition: all .2s ease;


        }
        &:hover{
          &::before{
            width: 100%;
          }
        }

        .home-link{
          display: none;
        }
      }
    }
  }

  .open-nav-button{
    display:none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: end;

    .logo{
      display: none;
    }

    nav{
      /* display: none; */
      display: block;
      position: absolute;
      transition: var(--transition);
      background-color: var(--main);

      right: 10px;
      padding: 50px;
      border-radius: 10px;
      border: 2px solid var(--secondary);
      box-shadow: 2px 2px 5px var(--main);
      width: 70%;

      top: -500px;
      opacity: 0;

      ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;

        li{
          .home-link{
            display: block;
            .logo{
              display: block;
              width: 30%;
              margin: 0 auto;
              height: auto;
              border-radius: 0;
            }

          }
        }

      }
      &.open{
        /* display: block;
        position: absolute; */
        top: calc(var(--header-height) + 10px);
        opacity: 1;

      }
    }
    .open-nav-button{
      display:block;
    }
  }
}
