@import url('../../variables.css');

.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--main);
  height: var(--header-height);
  padding: 5px 20px;

  font-weight: bold;
  color: var(--light);

  a{
    height: 100%;
    .logo{
      height: 100%;
      width: auto;
      border-radius: 0px;
    }
  }

  nav{
    ul{
      display: flex;
      gap:20px;

      li{
        position: relative;
        &::before{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: var(--secondary);
          transition: all .2s ease;

        }
        &:hover{
          &::before{
            width: 100%;
          }
        }
      }
    }
  }
}
