@import url('../../variables.css');

.footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;

  height: var(--header-height);
  padding: 5px 20px;

  nav{
    ul{
      display: flex;
      justify-content: end;
      gap:20px;

      li{
        color: var(--main);
        transition: var(--transition);

        &:hover{
          color: var(--dark);
          filter: drop-shadow(0 0 2px var(--main));
        }

        svg{
          font-size: 25px;
        }
      }
    }
  }
}
