:root{
  --light:#fff7e6;
  --dark:#3b2814;
  --main:#4B600B;
  --main-transparent:#4B600B66;
  --secondary:#afe715;
  --secondary-transparent:#afe71566;
  /* --secondary:#ff6246;
  --terciary: #fcb526; */

  --header-height:50px;

  --transition: all .2s ease;
}
