.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .grid-container{
  gap: 10px;

    grid-template-columns: repeat(2,1fr);
  }
}
