.grid-container{
  display: grid;
  gap: 50px;

  &.columns-3{
    grid-template-columns: repeat(3, 1fr);
  }

  &.columns-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  &.columns-5{
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    h3{
      font-size: 24px;
    }
  }

  &:hover > a{
    transition: var(--transition);
  }

  &:hover > :not(:hover){
    opacity: .6;
  }
}

@media screen and (max-width: 768px) {
  .grid-container{
    gap: 20px;

    &.columns-3{
      grid-template-columns: repeat(1, 1fr);
    }

    &.columns-4{
      grid-template-columns: repeat(2, 1fr);
    }

    &.columns-5{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
